nav {
    background-color: black;
}
.page-footer {
    background-color: black;
}
.languages {
    text-align: center;
}
.centered {
    text-align: center;
}
.centered img{
    display: block;
    margin: auto;
    height: 200px;
}
.about {
    text-align: center;
}
.abouttext {
    font-size: larger;
}
body {
    background-image: url("https://wallpapertag.com/wallpaper/full/c/3/d/305549-computer-background-2560x1600-for-samsung-galaxy.jpg");
}
.carousel img {
    height: 200px;
}